/*! @author | Banjo Mofesola Paul | Chief Developer, Planet NEST | mofesolapaul@planetnest.org | Wednesday, 19th July, 2017 */

$colors: orange violet goldenrod tomato olivedrab;
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.sectionizr {
    @for $i from 1 through length($colors) {
        >section:nth-child(#{$i}) {
            background: linear-gradient(to bottom right, lighten(nth($colors, $i), 5%) 20%, nth($colors, $i) 50%, lighten(nth($colors, $i), 5%));
        }
    }
    section {
        font-size: 68px;
        font-family: 'Bellefair', serif;
        color: #fff;
        text-align: center;
        line-height: 100vh;
        transition: .5s ease-in-out;
        @media(max-width: 760px) {
            font-size: 200%;
        }
    }
    &:not(.vertical) {
        >.controls {
            a {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                &:before {
                    transform: rotateZ(45deg)
                }
                &.prev {
                    left: 8px;
                }
                &.next {
                    right: 8px;
                }
            }
        }
    }
    &.vertical {
        >.controls {
            position: absolute;
            bottom: 8px;
            text-align: center;
            width: 100%;
            line-height: 0;
            a {
                position: relative;
                +a {
                    margin-left: 5px;
                }
                &:before {
                    transform: rotateZ(45deg)
                }
            }
        }
    }
}

.controls {
    a {
        display: inline-block;
        width: 36px;
        height: 36px;
        box-sizing: border-box;
        z-index: 1;
        &:before {
            box-sizing: border-box;
            content: '';
            border: solid thick #fff;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 8px;
        }
    }
}

.struck {
    font-style: italic;
    text-decoration: overline;
}
