/*! @author | Banjo Mofesola Paul | Chief Developer, Planet NEST | mofesolapaul@planetnest.org | Wednesday, 19th July, 2017 */

.sectionizr {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
    >section {
        width: 100%;
        height: 100%;
        position: relative;
        &.snzr>*:not(dom-image) {
            visibility: collapse;
        }
        &.snzr-visible>*:not(dom-image) {
            visibility: visible;
        }
    }
    &.vertical>section,
    &[data-vertical]>section {
        transition: margin-top 500ms ease-in-out;
    }
    &:not(.vertical):not([data-vertical]) {
        white-space: nowrap;
        >section {
            transition: margin-left 500ms ease-in-out;
            display: inline-block;
            vertical-align: top;
            &:not(:first-of-type) {
                margin-left: -4px !important; // remove inline-block default spacing
            }
        }
    }
}
